block destinations

section.destinations#destinations
    div.container
        div.row
            div.destinations__title
                h2.destinations__heading TOP DESTINATIONS
                p.destinations__text Some of the top destinations for your next summer
        div.row
            div.route
                div.route__photo
                    img(src="img/destinations/webp/img1.webp" alt="photo" data-ext='jpg' class='route__img route__img_1')
                    div.route__price
                        span 123$
                h3.route__title  Amazing Australia
                p.route__desc Become inspired to travel to Australia. Discover fantastic things to do & places to go.
                
            div.route
                div.route__photo
                    img(src="img/destinations/webp/img2.webp" alt="photo" data-ext='jpg' class='route__img route__img_2')
                    div.route__price
                        span 123$
                h3.route__title  Amazing Australia
                p.route__desc Become inspired to travel to Australia. Discover fantastic things to do & places to go.
                
            div.route
                div.route__photo
                    img(src="img/destinations/webp/img3.webp" alt="photo" data-ext='jpg' class='route__img route__img_3')
                    div.route__price
                        span 123$
                h3.route__title  Amazing Australia
                p.route__desc Become inspired to travel to Australia. Discover fantastic things to do & places to go.
                
            div.route
                div.route__photo
                    img(src="img/destinations/webp/img4.webp" alt="photo" data-ext='jpg' class='route__img route__img_4')
                    div.route__price
                        span 123$
                h3.route__title  Amazing Australia
                p.route__desc Become inspired to travel to Australia. Discover fantastic things to do & places to go.
                
            