block details

section#details.details
    div.container
        div.row
            div.destails__title.destinations__title
                h2.destinations__heading.destinations__heading_bigger Before you leave
        div.row.details__items
            div.detail
                h3.detail__title VISA & DOCUMENTS
                p.detail__desc There are some things you should take #[br] care of before going to your next #[br] adventure. We'll help you to get #[br] required visas and documents needed.
            div.detail
                h3.detail__title ACCOMMODATION
                p.detail__desc There are some things you should take #[br] care of before going to your next #[br] adventure. We'll help you to get #[br] required visas and documents needed.
            div.detail
                h3.detail__title TRANSPORTATION
                p.detail__desc There are some things you should take #[br] care of before going to your next #[br] adventure. We'll help you to get #[br] required visas and documents needed.