block nav

section.footer
    div.container
        div.row
            div.footer__copytight 
                p Copyright (c) 2018 Travelly. All Rights Reserverd. Designed for Despreneur.
            nav.nav-menu.row
                a.nav-menu__item(href="#header") HOME
                a.nav-menu__item(href="#destinations") ABOUT
                a.nav-menu__item(href="#details") BLOG
                a.nav-menu__item(href="#header") PRESS
                a.nav-menu__item(href="#header") CONTACT