.destinations {
    background: #eee;
    padding: 48px 0 67px;

    &__title {
        @include col();
        @include size(12);


    }

    &__heading {
        text-transform: uppercase;
        font-size: 2.2rem;
        font-weight: 600;
        margin-bottom: 5px;

        @include iPhone678Plus(font-size, 1.2rem) &_bigger {
            font-size: 5.2rem;
            font-weight: 300;
            text-transform: none;

            @include iPad(font-size, 4.2rem);

            @include iPhone678Plus(font-size, 1.5rem);
            @include iPhone678Plus(margin-top, 45px);


            @include iPhone5SE(font-size, 1.8rem);

        }
    }

    &__text {
        font-size: 1rem;
        color: #8b8b8b;
        margin-top: 0;

        @include iPhone678Plus(font-size, 0.8rem);
    }
}


.route {
    @include col();
    @include size(3);
    @include size-iPad(6);
    @include size-iPhone678Plus(12);
    @include size-iPhoneX(12);

    background: #fff;

    border-bottom: 2px solid #e1e048;
    margin-top: 35px;
    position: relative;
    top: 0;
    transition: box-shadow 0.2s linear,
        top 0.2s linear;


    &:hover {
        position: relative;
        top: -20px;
        box-shadow: 0 0 50px 17px rgba(0, 0, 0, 0.5);
    }

    .no-webp &__photo {
        position: relative;
        
        /* мой мониторе */
        height: 68%;
        
        @include nestHubMax(height, 70%);
        
        @include nestHub(height, 62%);
        
        @include iPadPro(height, 63%);
        
        @include iPad(height, 75%);
        
        @include surfaceDUO(height, 70%);
        
        @include iPhone678Plus(height, 72%);
        
        @include pixel2XL(height, 60%);
        
        @include pixel2(height, 73%);
        
        @include iPhoneX(height, 75%);
        
        @include iPhone678(height, 70%);
        
        @include galaxyS5(height, 70%);
        
        @include iPhone5SE(height, 67%);   
        
        @include galaxyFold(height, 60%);
        
    }

    &__img {
        display: block;
        width: 100%;

    }


    .no-webp &__img_1 {
        content: url(../img/destinations/img1.jpg);
        background: url(../img/destinations/img1.jpg);
        height: 100%;
    }

    .no-webp &__img_2 {
        content: url(../img/destinations/img2.jpg);
        background: url(../img/destinations/img2.jpg);
        height: 100%;
    }

    .no-webp &__img_3 {
        content: url(../img/destinations/img3.jpg);
        background: url(../img/destinations/img3.jpg);
        height: 100%;
    }

    .no-webp &__img_4 {
        content: url(../img/destinations/img4.jpg);
        background: url(../img/destinations/img4.jpg);
        height: 100%;
    }


    &__price {
        position: absolute;
        font-size: 1.2rem;
        bottom: 6px;
        right: 11px;
        color: #fff;
    }

    &__title {
        font-size: 1.2rem;
        text-transform: uppercase;
        margin: 14px 20px 12px 14px;
        font-weight: 700;

        @include galaxyFold(font-size, 0.9rem);

        @include iPhone678Plus(font-size, 1rem);
        @include iPhone678Plus(font-size, 0.8rem);
        @include iPhone678Plus(line-height, 1.1rem);

        @include iPhone5SE(font-size, 1rem);
    }

    &__desc {
        font-size: 1.3rem;
        line-height: 1.65rem;
        margin: 10px 13px 20px 15px;

        @include iPad(font-size, 1rem);

        @include iPhone678Plus(font-size, 0.8rem);
        @include iPhone678Plus(line-height, 1.15rem);

        @include iPhone5SE(font-size, 0.7rem);
    }
}
